.cart__grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  align-items: stretch;
}

.cart__table-header,
.cart-item {
  display: grid;
  grid-template-columns: 2.8fr 3.2fr 1.5fr 1.2fr 1.3fr;
  gap: var(--space-24);
  align-items: center;
}

.cart__table-header {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-text-main);
  list-style: none;
  border-bottom: 0.1rem solid var(--color-border);
  padding-bottom: var(--space-4);
  transition: color 0.5s ease;
}

.cart__list {
  display: flex;
  flex-direction: column;
}

.cart-item {
  padding: var(--space-24) 0;
  border-bottom: 0.1rem solid var(--color-border);
}

.cart-item__product {
  display: flex;
  align-items: center;
}

.cart-item__img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 9rem;
  height: 9rem;
  margin-right: var(--space-16);
  background-color: var(--color-white-bg);
  overflow: hidden;
  transition: background-color 0.5s ease;

  border-radius: calc(var(--radius-12) - 0.4rem);
}

.cart-item__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-item__name {
  font-size: var(--font-size-lg);
  font-weight: 600;
  color: var(--color-text-main);
  line-height: 1.2;
  transition: color 0.5s ease;
}

.cart-item__details-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  list-style: none;
}

.cart-item__details-item {
  font-size: var(--font-size-md);
  line-height: 1.2;
  color: var(--color-text-main);
  transition: color 0.5s ease;
}

.cart-item__quantity {
  display: flex;
  justify-content: flex-start;

  & .quantity-controls__btn {
    padding: 0.6rem;
  }

  & .quantity-controls__icon {
    stroke-width: 2.5;
    width: 1.4rem;
    height: 1.4rem;
  }

  & .quantity-controls__input {
    font-size: var(--font-size-md);
  }
}

.cart-item__unit-price,
.cart-item__total-price {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.cart-item__total-price {
  color: var(--color-primary-darker);
  transition: color 0.5s ease;

  .dark-mode & {
    color: var(--color-primary);
  }
}

.cart__summary {
  position: static;
  width: 39.4rem;
  margin-left: auto;
}

.summary-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-12);
  padding: var(--space-32);
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    box-shadow: var(--shadow-card-hover);
  }
}

.summary-card__lable {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-8);
}

.summary-card__price {
  font-size: var(--font-size-3xl);
  font-weight: 800;
  letter-spacing: -0.01rem;
  margin-bottom: var(--space-16);
}

.summary-card__btn {
  width: 100%;
  font-weight: 600;
}

.cart-main__empty {
}

.cart-main__empty-title {
}

.cart-main__empty-text {
}
