.checkout__grid {
  align-items: start;
}

.shipping-form__title {
  font-size: var(--font-size-2xl);
}

.shipping-form__field {
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  font-size: var(--font-size-lg);
}

.shipping-form__input {
  width: 100%;
  height: 4.8rem;
  font-family: inherit;
  font-size: var(--font-size-md);
  color: var(--color-text-main);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-border);
  box-shadow: var(--shadow-input);
  border-radius: var(--radius-12);
  margin-bottom: var(--space-16);
  padding: 0 var(--space-16);
  transition:
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease,
    box-shadow 0.5s ease;

  &:hover,
  &:focus {
    background-color: var(--color-highlight-bg);
    box-shadow: var(--shadow-input-hover);
  }

  &::placeholder {
    color: var(--color-text-muted);
    opacity: 0.5;
    transition: color 0.5s ease;
  }
}

.checkout__sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout__summary {
  & .checkout__summary-list {
    margin-bottom: var(--space-24);
  }

  & .cart-dropdown__filled {
    border-bottom: 0.1rem solid var(--color-border);
  }

  & .cart-dropdown__list {
    max-height: 34.3rem;
    padding: var(--space-2) var(--space-16) 0 0;
  }
}

.checkout__summary-title {
  font-size: var(--font-size-2xl);
}

.checkout__verification {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-12);
  padding: var(--space-32);
  margin-right: auto;
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    box-shadow: var(--shadow-card-hover);
  }
}

.checkout__verification-title {
  font-size: var(--font-size-2xl);
}

.checkout__verification-box {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: var(--space-16);
  margin-bottom: var(--space-16);
}

.checkout__verification-icon {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  stroke: var(--color-primary);
  stroke-width: 1.5;
  fill: none;
  transition: stroke 0.5s ease;
}

.checkout__verification-text {
  font-size: var(--font-size-lg);
}

.checkout__verification-btn {
  width: 100%;
  font-weight: 600;
}
