html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  scrollbar-width: thin;
}

html.modal-open {
  overflow: hidden !important;
}

html.modal-open body {
  overflow: hidden !important;
  scrollbar-gutter: stable !important;

  & .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 1999;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: var(--font-main);
  color: var(--color-text-main);
  background-color: var(--color-white);
  line-height: 1;
  font-weight: 400;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 0.5rem solid var(--color-primary-outline);
  outline-offset: 0;
}

@supports not selector(:focus-visible) {
  :focus {
    outline: 0.5rem solid var(--color-primary-outline);
    outline-offset: 0;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  /* 960 + (32 + 32) = 1024px*/
  max-width: 102.4rem;
  padding: 0 var(--space-32);
  margin: 0 auto;
}

.heading-primary {
  font-size: var(--font-size-h1);
  line-height: 1.1;
  letter-spacing: -0.1rem;
  margin-bottom: var(--space-32);
}

.heading-secondary {
  font-size: var(--font-size-h2);
  letter-spacing: -0.05rem;
  margin-bottom: var(--space-48);
}

.heading-tertiary {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-24);
}
