@media (max-width: 85em) {
  body {
    background-color: rgb(230, 250, 195);
  }

  .container {
    padding: 0 var(--space-24);
  }

  .navigation__content {
    grid-template-columns: 0.45fr auto 0.5fr;
    padding: 0 var(--space-32);
  }

  .section-testimonial {
    max-width: 97.7rem;
  }

  .testimonial {
    padding: var(--space-32) var(--space-64) var(--space-32) var(--space-16);
  }

  .testimonial__img {
    transform: scale(1.47);
  }
}

@media (max-width: 68em) {
  body {
    background-color: rgb(250, 236, 195);
  }

  .container {
    padding: 0 var(--space-24);
  }

  .navigation__content {
    padding: 0 var(--space-24);
  }
}

@media (max-width: 64em) {
  body {
    background-color: rgb(250, 195, 195);
  }

  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: var(--space-64);
  }

  .mt-64 {
    margin-top: var(--space-48);
  }

  .mb-96 {
    margin-bottom: var(--space-80);
  }

  .mb-128 {
    margin-bottom: var(--space-96);
  }

  .navigation {
    height: 7rem;
  }

  .navigation__content {
    grid-template-columns: 0.43fr auto 0.5fr;
  }

  .product-card__content {
    padding: var(--space-24);
  }

  .product-card__img {
    transform: scale(0.8);
    padding: 0;
  }

  .product-modal__img {
    transform: scale(0.9);
    padding: var(--space-16);
  }
}

@media (max-width: 58em) {
  body {
    background-color: #b6c9fd;
  }

  html {
    font-size: 50%;
  }

  .feature__item {
    max-width: auto;
  }

  .navigation__content {
    grid-template-columns: 0.42fr auto 0.5fr;
  }

  .product-card {
    max-width: auto;
  }
}

@media (max-width: 52em) {
  body {
    background-color: rgb(198, 165, 255);
  }

  html {
    font-size: 43.75%;
  }
}

@media (max-width: 48em) {
  body {
    background-color: rgb(202, 202, 202);
  }

  .container {
    padding: 0 var(--space-16);
  }

  .grid {
    column-gap: var(--space-48);
  }

  .navigation__content {
    padding: 0 var(--space-16);
  }

  .section-testimonial {
    max-width: 99rem;
  }

  .success__wrapper {
    grid-template-columns: 1fr;
    max-width: 75rem;
  }
}

@media (max-width: 40em) {
  body {
    background-color: rgb(222, 204, 255);
  }

  .cart__table-header,
  .cart-item {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;

    &:has(.checkout__form) {
      row-gap: var(--space-48);
    }
  }

  .grid-3-cols {
    grid-template-columns: 1fr;

    &:has(.product-card) {
      row-gap: var(--space-48);

      width: 100%;
    }
  }

  .cart__summary {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 27em) {
  body {
    background-color: rgb(255, 187, 239);
  }

  .success__wrapper {
    max-width: 55rem;
  }
}
