@media (max-width: 85em) {
  .navigation__content {
    padding: 0 var(--space-32);
  }

  .section-testimonial {
    max-width: 97.7rem;
    padding: 0 var(--space-24);
  }

  .testimonial {
    padding: var(--space-32) var(--space-64) var(--space-32) var(--space-16);
  }

  .testimonial__img {
    transform: scale(1.47);
  }

  .product-modal__content {
    max-width: 97.5rem;
  }

  .toast-notification-zone {
    right: var(--space-32);
  }
}

@media (max-width: 68em) {
  .navigation__content {
    padding: 0 var(--space-24);
  }
}

@media (max-width: 64em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: var(--space-64);
  }

  .navigation {
    height: 7rem;
  }

  .navigation__logo-link {
    overflow: hidden;
  }

  .navigation__logo-img {
    width: 100%;
    max-width: 100%;
  }

  .product-card__content {
    padding: var(--space-24);
  }

  .product-card__img {
    transform: scale(0.8);
    padding: 0;
  }

  .product-modal__img {
    transform: scale(0.9);
    padding: var(--space-16);
  }

  .product-modal__content {
    padding: calc(var(--space-32) + var(--space-6));
  }
}

@media (max-width: 58em) {
  .grid {
    column-gap: var(--space-32);

    &:has(.product-card) {
      column-gap: 0;
    }
  }

  .grid-2-cols {
    grid-template-columns: 1fr;

    &:has(.checkout__form) {
      row-gap: var(--space-48);
    }
  }

  .btn--small {
    padding: calc(var(--space-12) - var(--space-2)) var(--space-16);
  }

  .mobile-nav-toggle {
    transform: translate(0.2rem);
  }

  .navigation__controls {
    transform: translate(-0.9rem);
  }

  .mobile-nav-toggle__icon--bars,
  .mobile-nav-toggle__icon--x {
    width: 4.3rem;
    height: 4.3rem;
  }

  .mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 4.3rem;
    height: 4.3rem;
    color: var(--color-text-main);
    background: none;
    border: none;
    cursor: pointer;
    transition:
      color 0.5s ease,
      opacity 0.5s ease;

    &:hover {
      color: var(--color-primary);
      transition: color 0.5s ease;
    }
  }

  .navigation__list {
    position: fixed;
    top: 7rem;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-32);
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition:
      opacity 0.1s ease,
      visibility 0.1s ease,
      transform 0.3s ease;
    z-index: 11;
    overflow: hidden;
    overscroll-behavior: none;
    touch-action: none;
  }

  .navigation__link {
    font-size: var(--font-size-3xl);

    &::after {
      height: 0.27rem;
    }
  }

  body:has(.mobile-nav-toggle__menu.active) .navigation__list {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .nav-control__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 4.2rem;
    top: calc(100% + 2.1rem);
    right: calc(100% + -11.3rem);
    border-radius: 0;
    padding: var(--space-4);

    & .nav-control__link {
      font-size: var(--font-size-lg);
      font-weight: 450;
    }
  }

  .cart-menu {
    width: 50vw;
    height: 100dvh;
    top: calc(100% + 2.1rem);
    right: calc(100% + -16.5rem);
    border-radius: 0;

    & .cart-dropdown__list {
      max-height: 83dvh;
    }
  }

  .cart-dropdown__list {
    overscroll-behavior: auto;
  }

  body:has(.cart-menu.active),
  body:has(.nav-control__menu.active) {
    &::after {
      content: "";
      position: fixed;
      inset: 0;
      background-color: var(--color-modal-bg);
      backdrop-filter: blur(0.5rem);
      opacity: 1;
      transition:
        opacity 0.1s ease,
        background-color 0.1s ease;
      z-index: 10;
      pointer-events: none;
    }
  }

  .mobile-nav-toggle__menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  body:has(.mobile-nav-toggle__menu.active) {
    &::after {
      content: "";
      position: fixed;
      inset: 0;
      background-color: var(--color-white);
      opacity: 0.97;
      z-index: 10;
      pointer-events: none;
    }
  }

  .mobile-nav-toggle__icon {
    position: absolute;
    inset: 0;
    margin: auto;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .mobile-nav-toggle:has(.mobile-nav-toggle__menu.active)
    .mobile-nav-toggle__icon--x {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }

  .mobile-nav-toggle:has(.mobile-nav-toggle__menu.active)
    .mobile-nav-toggle__icon--bars {
    opacity: 0;
    transform: scale(0) rotate(-360deg);
  }

  .nav-control__icon--cart {
    transform: scale(0.95);
  }

  .nav-control__icon--lang {
    transform: scale(0.98);
  }

  .nav-control__icon--sun {
    transform: scale(1.08) !important;
  }

  .nav-control__icon--moon {
    transform: scale(0.93);
  }

  .section-hero .grid-2-cols {
    justify-items: center;
  }

  .hero__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    border-radius: var(--radius-12);
    background: var(--color-primary-gradient);
    margin-bottom: var(--space-24);
  }

  .hero__img {
    width: 45%;
    margin-bottom: 0;
  }

  .hero__text-box {
    text-align: center;
  }

  .section-feature .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-feature .feature__item {
    width: min(100%, 46rem);
  }

  .feature__item:not(:last-child) {
    margin-bottom: var(--space-32);
  }

  .testimonial {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: var(--space-24);
  }

  .section-testimonial {
    max-width: 100vw;
    border-radius: 0;
  }

  .testimonial__img {
    width: 100%;
    max-width: 30rem;
    transform: none;
    justify-self: right;
  }

  .testimonial__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonial__footer {
    margin-top: auto;
  }

  .slider-btn--left {
    transform: translate(15%, -50%);
  }

  .slider-btn--right {
    transform: translate(-15%, -50%);
  }

  .testimonial {
    padding: var(--space-24) var(--space-32);
  }

  .product-card {
    box-shadow: none;

    &:hover {
      transform: scale(1.07);
      overflow: hidden;
      z-index: 10;
    }
  }

  .grid-45-55-cols {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image" "info"
      "perks" "quantity" "footer";
  }

  .product-modal__content {
    padding: var(--space-32);
    max-width: 90vw;
  }

  .product-modal__img {
    width: 50%;
  }

  .product-modal__visual {
    display: contents;
  }

  .product-modal__image-wrapper {
    grid-area: image;
  }

  .product-modal__info {
    grid-area: info;
    margin-bottom: var(--space-32);
  }

  .product-modal__perks {
    grid-area: perks;
    margin-bottom: var(--space-48);
  }

  .product-modal__quantity {
    grid-area: quantity;
    margin-bottom: 0;
  }

  .product-modal__footer {
    grid-area: footer;
  }

  .cart-dropdown__footer {
    padding: var(--space-32) var(--space-16);
  }

  .cart-dropdown__empty {
    height: 85dvh;
  }

  .cart-dropdown__empty-icon {
    width: 4rem;
    height: 4rem;
    stroke-width: 1.3;
  }

  .cart-dropdown__empty-title {
    font-size: var(--font-size-lg);
  }

  .cart-dropdown__empty-text {
    font-size: var(--font-size-md);
  }

  .cart__table-header,
  .cart-item {
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr;
  }

  .cart__list {
    max-height: 50dvh;
    overscroll-behavior: auto;
  }

  .cart__summary {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .checkout__verification {
    text-align: center;
  }

  .checkout__verification-box {
    justify-content: center;
  }

  .success__wrapper {
    grid-template-columns: 1fr;
    max-width: 90vw;
    max-height: 80dvh;
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    scrollbar-color: var(--color-border) transparent;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease,
      scrollbar-color 0.5s ease;
  }

  .toast-notification-zone {
    top: 7rem;
    right: 0;
    max-width: 105rem;
  }

  .error-msg-container {
    width: 100vw;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 1rem var(--space-32);
  }
}

@media (max-width: 44em) {
  .mt-64 {
    margin-top: var(--space-48);
  }

  .mb-96 {
    margin-bottom: var(--space-48);
  }

  .mb-128 {
    margin-bottom: var(--space-80);
  }

  .heading-secondary {
    margin-bottom: var(--space-32);
  }

  .container {
    padding: 0 var(--space-16);
  }

  .navigation__content {
    padding: 0 var(--space-16);
  }

  .mobile-nav-toggle {
    transform: translate(-0.5rem);
  }

  .navigation__controls {
    transform: translate(-0.2rem);
  }

  .nav-control__menu {
    right: calc(100% + -9.8rem);
  }

  .feature__icon {
    margin-bottom: var(--space-2);
  }

  .feature__title {
    margin-bottom: var(--space-4);
  }

  .cart-menu {
    width: 70vw;
    right: calc(100% + -15rem);
  }

  .hero__heading {
    margin-bottom: var(--space-16);
  }

  .hero__text {
    margin-bottom: var(--space-32);
  }

  .hero__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88%;
    border-radius: var(--radius-12);
    background: var(--color-primary-gradient);
    margin-bottom: var(--space-24);
  }

  .hero__img {
    width: 50%;
  }

  .section-feature .grid-3-cols {
    grid-template-columns: 1fr;
  }

  .section-feature .feature__item {
    width: 100%;
  }

  .testimonial {
    grid-template-columns: 1fr;
    grid-template-areas: "img";
    gap: 0;
  }

  .testimonial__heading {
    margin-bottom: var(--space-12) !important;
  }

  .testimonial__quote {
    margin-bottom: 0;
  }

  .testimonial__img {
    grid-area: img;
    justify-self: center;
    width: 15%;
    border-radius: var(--radius-100);
    margin-bottom: var(--space-16);
  }

  .testimonial__heading,
  .testimonial__quote,
  .testimonial__author,
  .testimonial__tag {
    text-align: center;
  }

  .grid-3-cols:has(.product-card) {
    row-gap: var(--space-32);
  }

  .product-card {
    min-height: 50rem;
    &:hover {
      transform: scale(1.04);
    }
  }

  .product-card__footer {
    flex-direction: column;
    gap: var(--space-12);
    padding-top: var(--space-24);
  }

  .product-modal__content {
    padding: var(--space-16);
  }

  .cart-item__product {
    flex-direction: column;
    align-items: start;
    gap: var(--space-12);
  }

  .success__wrapper {
    max-width: 95vw;
  }

  .error-msg-container {
    padding: 1rem var(--space-16);
  }
}

@media (max-width: 32em) {
  .mt-64 {
    margin-top: var(--space-32);
  }

  .grid-3-cols:has(.product-card) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--space-4);
  }

  .cart__table-header-col:nth-child(4),
  .cart__table-header-col:last-child {
    display: none;
  }

  .cart-item__unit-price,
  .cart-item__total-price {
    display: none;
  }

  .cart__table-header,
  .cart-item {
    grid-template-columns: 1.2fr 1.5fr 1fr;
  }

  .testimonial__box {
    min-height: 32rem;
  }

  .catalog__controls {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--space-8);
    margin-bottom: var(--space-16);
  }

  .catalog__search-wrapper {
    flex: none;
    width: 100%;
  }
}
