/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN: #1864ab
GRAY: #343a40
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 8px solid #1864ab;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

img {
  width: 100%;
  border-radius: 12px;
}

.btn:link,
.btn:visited {
  color: #fff;
  background-color: #1864ab;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #1c7ed6;
}

.btn--big:hover {
  box-shadow: 0 15px 30px 0 rgba(24, 100, 171, 0.09);
}

.btn--big:active {
  box-shadow: 0 7px 30px 0 rgba(24, 100, 171, 0.09);
}

/* HEDER PART */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}

/* SECTION 1 */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

h2 {
  font-size: 36px;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.features-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

section {
  margin-bottom: 96px;
}

.features-icon {
  fill: #1864ab;
  margin-bottom: 24px;
}

/* SECTION 2 */
.testimonial-section {
  color: #fff;
  background-color: #1864ab;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 1 / -2;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  color: #e7f5ff;
  font-size: 18px;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 24px;
}

.testimonial-author {
  color: #d0ebff;
}

/* SECTION 3 */
.pc {
  border-radius: 12px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);
}

.pc:hover {
  box-shadow: 0px 20px 30px 0px rgba(24, 100, 171, 0.07);
}

.img-pc {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pc-box {
  padding: 32px;
}

.pc-box h3 {
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
  font-size: 20px;
  margin-bottom: 24px;
}

.pc-details {
  list-style: none;
  margin-bottom: 48px;
}

li {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.pc-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

.details-icon {
  fill: #1864ab;
}
/* FOOTER */
footer {
  color: #495057;
  font-size: 14px;
  margin-bottom: 48px;
}
