.product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  transition: all 0.3s ease;
}

.product-modal--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.product-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal-bg);
  backdrop-filter: blur(0.5rem);
}

.product-modal__content {
  position: relative;
  background-color: var(--color-card-bg);
  max-width: 96rem;
  height: 70rem;
  max-height: 90vh;
  padding: var(--space-32);
  border-radius: 1.2rem;
  box-shadow: var(--shadow-modal);
  overflow-y: auto;
  z-index: 2001;
}

.product-modal__icon-x {
  stroke: var(--color-text-main);
  width: var(--space-32);
  height: var(--space-32);
  padding: var(--space-2);
  border-radius: 50%;
  background-color: transparent;
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    stroke: var(--color-primary);
    background-color: var(--color-bg-accent);
    transform: scale(1);
  }
}

.product-modal__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-always-white);
  border: 0.1rem solid var(--color-border);
  border-radius: var(--radius-12);
}

.product-modal__img {
  width: 100%;
  padding: var(--space-24);
}

.product-modal__perks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-16);
  list-style: none;
  margin: var(--space-24) 0 var(--space-48) 0;
}

.product-modal__perks-item {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  font-size: var(--font-size-lg);
  line-height: 1.7;
}

.product-modal__icon {
  stroke: var(--color-primary);
  fill: var(--color-white);
  width: var(--space-24);
  height: var(--space-24);
}

.product-modal__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-32);
}

.product-modal__quantity-label {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.product-modal__quantity-controls {
  display: flex;
  align-items: center;
  border: 0.1rem solid var(--color-border);
  border-radius: var(--radius-12);
  overflow: hidden;
}

.product-modal__icon-qty {
  stroke: var(--color-text-main);
  stroke-width: 8%;
  width: var(--space-16);
  height: var(--space-16);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Text align bug*/
.product-modal__input {
  font-family: inherit;
  font-size: var(--font-size-lg);
  color: var(--color-text-main);
  width: 3.5rem;
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  outline: none;
}

.product-modal__footer {
  display: flex;
  gap: var(--space-16);
  flex-direction: column;
}

.product-modal__price {
  font-size: var(--font-size-3xl);
  font-weight: 800;
}
