/* FIX: Shadows and Transition */
.product-card {
  border-radius: 1.2rem;
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-card);
  transition:
    transform 0.4s,
    box-shadow 0.4s,
    background-color 0.5s ease;
}

.product-card__img {
  width: 100%;
  border-radius: 1.2rem;
}

.product-card:hover {
  box-shadow: var(--shadow-card-hover);
  transform: translateY(-0.8rem);
}

.product-card__img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-card__content {
  padding: var(--space-32);
}

.product-card__list {
  list-style: none;
  margin-bottom: var(--space-48);
}

.product-card__item {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  margin-bottom: var(--space-16);
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-lg);
}

.product-card__icon {
  width: var(--space-24);
  height: var(--space-24);
  fill: var(--color-primary);
}
