/* Layout */
.grid {
  display: grid;
  column-gap: var(--space-80);
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-45-55-cols {
  grid-template-columns: 1fr 1.2fr;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */
.mt-64 {
  margin-top: var(--space-64);
}

.mb-96 {
  margin-bottom: var(--space-96);
}

.mb-128 {
  margin-bottom: var(--space-128);
}

/* Hidden */
.hidden {
  display: none;
}

/* Error Message */
.error-msg {
  display: block;
  color: red;
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 1.1;
  margin-top: var(--space-24);
}
