.feature__icon {
  width: var(--space-32);
  height: var(--space-32);
  fill: var(--color-primary);
  margin-bottom: var(--space-24);
}

.feature__title {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-16);
}

.feature__text {
  font-size: var(--font-size-lg);
  line-height: 1.7;
}
