.catalog__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-32);
}

.catalog__search-wrapper {
  position: relative;
  flex: 0 1 26.65rem;
  width: 100%;
}

.catalog__search-input {
  width: 100%;
  height: 4.8rem;
  font-family: inherit;
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-text-main);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-border);
  box-shadow: var(--shadow-input);
  border-radius: var(--radius-12);
  padding: 0 var(--space-48) 0 var(--space-16);
  transition:
    color 0.5s ease,
    border-color 0.5s ease,
    background-color 0.5s ease,
    box-shadow 0.5s ease;

  &:hover,
  &:focus {
    background-color: var(--color-highlight-bg);
    box-shadow: var(--shadow-input-hover);
  }

  &::placeholder {
    color: var(--color-text-muted);
    opacity: 0.5;
    transition: color 0.5s ease;
  }
}

.catalog__search-icon-box {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-dark);
  border-radius: calc(var(--radius-12) - 0.2rem);
  padding: var(--space-8);
  pointer-events: none;
  transition: background-color 0.5s ease;
}

.catalog__search-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--color-always-white);
  stroke-width: 2;
  fill: none;
  transition: stroke 0.5s ease;
}

.catalog__sort-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  height: 4.8rem;
  font-family: inherit;
  font-size: var(--font-size-md);
  line-height: 1.5;
  color: var(--color-text-main);
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-border);
  box-shadow: var(--shadow-input);
  border-radius: var(--radius-12);
  padding: 0 var(--space-16);
  cursor: pointer;
  transition:
    color 0.5s ease,
    border-color 0.5s ease,
    background-color 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    background-color: var(--color-highlight-bg);
    box-shadow: var(--shadow-input-hover);
  }
}
