/* FIX: Shadows and Transition */
.product-card {
  display: flex;
  flex-direction: column;
  min-height: 57rem;
  border-radius: var(--radius-12);
  background-color: var(--color-card-bg);
  box-shadow: var(--shadow-card);
  transition:
    transform 0.4s,
    box-shadow 0.4s,
    background-color 0.5s ease;
  overflow: hidden;
}

.product-card__img {
  width: 100%;
  padding: var(--space-12);
  background-color: var(--color-white-bg);
  border-radius: var(--radius-12);
}

.product-card:hover {
  box-shadow: var(--shadow-card-hover);
  transform: translateY(-0.8rem);
}

.product-card__img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--space-32);
}

.product-card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__list {
  list-style: none;
}

.product-card__item {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  min-width: 0;
  font-size: var(--font-size-md);
  margin-bottom: var(--space-16);
}

.product-card__icon {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-primary);
}

.product-card__spec-text {
  flex-grow: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-lg);
  color: var(--color-text-main);
  padding-top: var(--space-48);
  margin-top: auto;
}
